<!--
  Generated template for the LeaveHomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
   
    <ion-navbar hideBackButton='false' >
      
      <ion-title>Al Arabiya Scheduler</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding class="ion-content">
  

    <div class="mnb" *ngIf="AAmyspace!='N'"  >
      <button ion-button  color="dark"   class="ico-fa-btn1 " (click)="goMySpacePage()">
          <fa-icon name="calendar-o"  class="aw-ico1"></fa-icon>
      </button>
      
      <h6 ion-text color="dark" class="btn-txt " >My Space</h6>
      <h6 ion-text color="dark" class="btn-txt " >&nbsp;</h6>
    </div>
  
  
    <div class="mnb"  *ngIf="AAmyteam!='N'" >
        <button ion-button  color="dark"   class="ico-fa-btn1 " (click)="goMyTeamPage()" >
            <fa-icon name="list"  class="aw-ico1"></fa-icon>
        </button>
        <h6 ion-text color="dark" class="btn-txt " >My Team</h6>
        <h6 ion-text color="dark" class="btn-txt " >&nbsp;</h6>
    </div>
    <div class="mnb"  *ngIf="AAworkgroups!='N'" >
      <button ion-button  color="dark"   class="ico-fa-btn1 " (click)="goWKage()" >
          <fa-icon name="list"  class="aw-ico1"></fa-icon>
      </button>
      <h6 ion-text color="dark" class="btn-txt " >WorkGroups</h6>
      <h6 ion-text color="dark" class="btn-txt " >&nbsp;</h6>
  </div>

    <div class="mnb"   >
      <button ion-button  color="dark"   class="ico-fa-btn1 " [disabled]="true"  >
          <fa-icon name="calendar-plus-o"  class="aw-ico1"></fa-icon>
      </button>
      <h6 ion-text color="dark" class="btn-txt " >Admin</h6>
      <h6 ion-text color="dark" class="btn-txt " >&nbsp;</h6>
  </div>
   
  
  
  
  </ion-content>
  