page-myteam {

    
    @mixin intial-avatar
{


height: 40px;
width: 40px;
color: white;
border-radius: 50%;
text-align: center;
padding-top: 12px;

}
.highlight {
    background-color: #FFFF33 !important;
 }
.leaves
{


    color:red;
    font-size: 12px;
}
.noleaves
{

color:black;
font-size: 12px;
}
.txt
{
color:black;

}

//  ion-item:hover { background-color: lightslategray !important; } 

//ion-item:active { background-color:#a0b3b9 !important; } 
//ion-item:hover { background-color:#a0b3b9 !important; } 
.sh
{

@include intial-avatar;
    background:#008000;


}


.bt
{

background: #309FDB;
@include intial-avatar;

}


.lv
{

background: red;
@include intial-avatar;

}


.asg
{

background: #ffb134;;
@include intial-avatar;

}





.list_item_title1

{
    color: #000;
    font-size: 17px;
    font-weight: 600;
    
}
.list_item_sub_title1
{
color: #000;
font-size: 13px;
font-weight: 400;
white-space: normal  ;
line-height: 1.2em;
//max-height: 2.4em;
display: block;
clear: both;

}
.list_item_sub_title2
{
color: darkgray;
font-size: 14px;
font-weight: 400;
float: left;


}

.list_item_sub_title3
{
color: darkgray;
font-size: 14px;
font-weight: 400;
float: right;


}

.list_item_sub_block
{
    display: block;

} 

.list_item_sub_title4
{
   // display: inline-block;
    //margin-left: 10px;
    color: #928;
font-size: 14px;
font-weight: 400;
}

.list_item_sub_title5
{
color: #488aff;
font-size: 14px;
font-weight: 400;



}

.act-icon
{
    font-size: 30px;
   // color:#353d4e;
    color: #a9a9a9;
}

.act-btn
{
border-width: 0px;
text-align: center;
background: transparent !important;
// height: 90px;
z-index: 200;
display: inline-block;
// width:20px;
}
.containerz
{

    width: 100vw;
    display: block;
    text-align: center;
    height: 60px;
   // border: 1px red solid;
   // margin-top:50px;
   

}

.backz , .datez,.nextz
{
display: inline-block;

} 

.backz 
{
width:20%;
float: left;

}

.datez 
{
width:60%;
padding-top:5px;
font-size: 20px;
text-align: center

}

.nextz 
{
width:20%;
float: right;

}

.in-date
{
    
  
    text-align: center !important;  
  
}

.in-date2
{

   
    text-align: center !important; 
    margin:auto 
   
}
.datez .item-cover
{
    border:1px #fff solid;
}
.teams-search 
{
    height:20px !important;

}
.teams-search .searchbar-search-icon {
  //  display:none; width:0; height:0; 
    margin-left:60vw;
   // height:20px !important;
    }

    .teams-search   .searchbar .searchbar-input { 
        color: #fff !important;
     }



     .searchbar-ios .searchbar-input::-moz-placeholder  {
        color: #fff !important;
    
      }
      
      .searchbar-ios .searchbar-input:-ms-input-placeholder   {
        color: #fff !important;
      }
      .searchbar-ios .searchbar-input::-webkit-input-placeholder  {
       
        color: #fff !important;
      }
    
      .searchbar-md .searchbar-input::-moz-placeholder {
        color: #fff !important;
      }
      
      .searchbar-md .searchbar-input:-ms-input-placeholder {
        color: #fff !important;
      }
      
      .searchbar-md .searchbar-input::-webkit-input-placeholder {
       
        color: #fff !important;
      }

      .class4
{

background: #164;
height: 35px;
width: 35px;
color: white;
border-radius: 50%;
text-align: center;
//padding-top: 12px;
position: absolute;
bottom:9px;
margin-left: 2px;
z-index: -1;


}
.image-css
{
    height: 50px;
    width: 50px;  
    
}
}

.page_footer
{

    background-color:  #353D4e;
    //padding-left: 10px;
}

.div_footer
{

    text-align: center;
    margin-left:2vw;
    margin-right:2vw;
}