<!--
  Generated template for the LeaveHomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

      <ion-header>
 
        <!-- <ion-toolbar>
          <ion-title>
             Description
      </ion-title>
                <ion-buttons start >
                    <button ion-button (click)="dismiss()" class="close-btn">Close</button>
                  </ion-buttons>
            
                </ion-toolbar> -->
                <ion-navbar hideBackButton='false' >
      
                    <ion-title>My Team</ion-title>
                  </ion-navbar>
          </ion-header>
      <ion-content>
        
      
           
              <ion-avatar item-start>
                <img [hidden]="character.img==null" [src]="sanitized.bypassSecurityTrustUrl(+'data:image/jpg;base64,'+character.img)" class="img-p1"/>
                <!-- <img [hidden]="character.img==null" [src]="geturl(character.person_id)" class="img-p1"/> -->
                <img  [hidden]="character.img!=null" src="assets/imgs/avatar.png"class="img-p1">
              </ion-avatar>
              <div class="name-class">
                  {{character.full_name}}
                </div>
              <!-- <h2>{{character.work_group_name}}</h2> -->
             
              <!-- <h2>{{character.full_name}}</h2> -->
           
           
            <ion-item  [hidden]="character.shift==null" text-wrap>
               Shift
                
              <ion-note item-end>
             {{character.shift}}
                        </ion-note>
            </ion-item>
            <ion-item  [hidden]="character.notes==null" text-wrap>
              Notes
               
             <ion-note item-end>
            {{character.notes}}
                       </ion-note>
           </ion-item>
            <ion-item  [hidden]="character.bulletins==null" text-wrap>
                                                                              
                    Bulletins
                 
                    
                          <ion-note item-end>
                            {{character.bulletins}}
                          </ion-note>
                        </ion-item>
                        <ion-item  [hidden]="character.assginments==null" text-wrap>
                          Assignment
                                      <ion-note item-end>
                                        {{character.assginments}}
                                      </ion-note>
                                    </ion-item>
                                    <ion-item  [hidden]="character.leaves==null" text-wrap>
                                                                                                     
                                         Leaves
                                         
                                        
                                                  <ion-note item-end>
                                                    {{character.leaves}}
                                                  </ion-note>
                                                </ion-item>
                                    <ion-item   [hidden]="character.replacedby==null" text-wrap>
                                                                           
                                     
                                                                
                                            Replaced By
                                         
                                         
                              
                                 
                                                  <ion-note item-end>
                                                
                                                    {{character.replacedby}}
                                                 
                                                  </ion-note>
                                               
                                                </ion-item>
                                                <ion-item  [hidden]="character.relacing==null" text-wrap>
                                                    <ion-note item-start [class]="txt"  >
                                                                
                                                        Replacing
                                                     
                                                      </ion-note>                               
                                           
                                                              
                                                              <ion-note item-end   >
                                                                 
                                                                {{character.relacing}}
                                                             
                                                              </ion-note>
                                                        
                                                            </ion-item>

       
      </ion-content>
      