page-teamdetails {
    .close-btn
    {
        color: #fff;
    }
    .break-word
{
word-wrap: break-word;


}
.txt_word
{
color:black;

 
}
.searchbar-search-icon { display:none; width:0; height:0; }
}

.img-p1
{
    height: 70px;
    width:70px;
    border-radius: 50%;
    border :1.5px #488aff solid;
    margin-left: calc(50% - 30px);
    margin-top:10px;
   
}
.name-class
{
text-align: center;
color: #488aff;
font-size:18px;
margin-top: 10px;
margin-bottom: 10px;

}