page-notification-details {

    .notification-btn1
{

    width: 30% !important;
    
}
.page_footer
{

    background-color:  #353D4e;
    //padding-left: 10px;
} 

.footer-ios .notification-ico
{

color: white;
font-size: 30px;


}

.footer-md .notification-ico
{

color: white;
font-size: 20px;

}
.typec
{
    margin-left: 0px;
    font-size: 18px;
    font-weight: 400;

}
.dates
{
  
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    color: darkgray;
}
.divider-class1
{

    font-weight: bold;  

}

.button_item_title1
{

    color:darkgray;
    float: right;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow:ellipsis;
    max-width:70%;
    clear: both;
}

.histroy-action-class
{
    color:darkgray;
    float: right;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow:ellipsis;
    max-width:30%;
    clear: both;
}
.histroy-name-class
{
   // color:darkgray;
   // float: right;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow:ellipsis;
  //  max-width:70%;
   
}

.histroy-note-class
{
    color:darkgray;
    font-size :14px ;
    white-space: normal;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow:ellipsis;
}
.spiner-1
{
margin-left: calc(50% - 14px) !important;
}

.div_footer
{

    text-align: center;
}

}
