<!--
  Generated template for the OrgsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
   
  <ion-navbar hideBackButton='false' >
    
    <ion-title>Organizations</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >

  <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."></ion-refresher-content>
    </ion-refresher>

    <ion-list  >
        <button ion-item *ngFor="let item of MyOrgList" (click)="orgTapped($event, item )" block >
        
          
            <div class="item-note typec" >
                <!-- <ion-icon  name="checkmark-circle-outline" item-start class="ico1"></ion-icon> 
                 {{item.role_name}} - {{item.organization_name}}-->
                 {{item.orgrole}}
              </div>

            
        </button>
      </ion-list>
      <ion-infinite-scroll (ionInfinite)="doInfinite($event)" > 
          <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading more data...">
        </ion-infinite-scroll-content> 
        </ion-infinite-scroll>

        
</ion-content>

