page-orgs {
   
    .ico1
    {
    color: green;
   
    
    
    }

    

    
    .typec
    {
        margin-left: 0px;
        font-size: 20px;
        font-weight: 600;
        margin-top: 0px;
    
    }
    .dates
    {
        margin-top: 0px;
        margin-left: 12%;
        font-size: 17px;
        font-weight: 400;
    
    }
    
    .durationc
    {
        margin-left: 12%;
        margin-top: 0px;
        font-size: 14px;
        font-weight: 400;
      color: darkgray;
    }

    .divx
{

background: green;
height: 40px;
width: 40px;
color: white;
border-radius: 50%;
text-align: center;
padding-top: 12px;

}
}

