<!--
  Generated template for the WorkgroupsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Work Groups</ion-title>
  </ion-navbar>

</ion-header>

<ion-content #pageTopx>  

  <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."></ion-refresher-content>
    </ion-refresher>



      
  
   <ion-list  >
    <button ion-item *ngFor="let item of MywkList" (click)="wkTapped($event, item )" block >
    
      
        <div class="item-note typec" >
           
           {{item.work_group_name}}
          </div>

        
    </button>
  </ion-list>

 


<ion-infinite-scroll (ionInfinite)="doInfinite($event)" > 
  <ion-infinite-scroll-content
  loadingSpinner="bubbles"
  loadingText="Loading more data...">
</ion-infinite-scroll-content> 
</ion-infinite-scroll>




</ion-content>

