<!--
  Generated template for the LeaveHomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
   
    <ion-navbar hideBackButton='false' >
      
      <ion-title>My Space</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content #pageTopx>  
      <div (swipe)="onSwipe($event)" style="min-height:100%;"  >
      <ion-refresher (ionRefresh)="doRefresh($event)">
          <ion-refresher-content pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing..."></ion-refresher-content>
        </ion-refresher>
 

        <div class="containerz"> 

          <div class="backz">
              <button ion-button icon-only outline  color='light' class='act-btn' (click)="goPreviousDay()" >
                  <ion-icon name="ios-arrow-back" class='act-icon' icon></ion-icon>
                </button>
            </div>
          
            <div class="datez">
              <ion-item class="in-date">
              
   
                <ion-datetime displayFormat="DDDD, DD-MMM-YYYY"  class="in-date2"  [(ngModel)]="searchDate" (ionChange)="onchangeDate()"></ion-datetime>
               
              </ion-item>
              </div>
          
          
              <div class="nextz">
                  <button ion-button icon-only outline  color='light' class='act-btn' (click)="goNextDay()" >
                      <ion-icon name="ios-arrow-forward" class='act-icon' icon></ion-icon>
                    </button>
                </div>
          
            </div>
          
     <ion-list >
         <ion-item  *ngFor="let item of MySpaceList" >
           
             <ion-avatar item-start> 
                  <div class="{{item.cssclass}}"   >  {{item.calendar_avatar}} </div>
                </ion-avatar>
          
                <h2 class="list_item_title1" >  {{item.calendar_actvity_title}} </h2>
                <div class="list_item_sub_block">
                   <div  >  
                <span  class="list_item_sub_title5" >  {{item.schdr_cal_time}}</span> 
                 </div>
                <div   >  
                <span  class="list_item_sub_title4" >  {{item.employee_name}} </span> 
                </div>
                <div  [hidden]="item.cssclass!='sh'" >  
                  <span  class="list_item_sub_title6" >  {{item.note}} </span> 
                  </div>
          </div>
             </ion-item> 
      </ion-list> 
  
     
 
   
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" > 
      <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content> 
    </ion-infinite-scroll>
  
   
  </div>
  
  </ion-content>
  <ion-footer class="page_footer">
  
  
      <div class="div_footer">
          <button ion-button block item-end (click)="ShowToday()">Today</button>
        </div>
      </ion-footer>