<!--
  Generated template for the StartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="mmm">
   
<ion-searchbar  
  [(ngModel)]="searchItem"
  [showCancelButton]="shouldShowCancel"
  animated=true
  placeholder="All Services"
  (ionInput)="onInput($event)"
  (ionCancel)="onCancel($event)">
</ion-searchbar>

</ion-header>
<ion-content  padding class="ion-content">
 

<div class="mnb"  id="ApprovalCenter" [hidden]="isHidden[0]" *ngIf="isRegualrEmp!='UNEMP'">
  <button ion-button  color="dark"    class="ico-fa-btn1"   (click)="openApprovalCenter()">
    <fa-icon name="calendar-check-o"  class="aw-ico1"></fa-icon>
      
  </button>
  <h6 ion-text color="dark" class="btn-txt" >Approval</h6>
  <h6 ion-text color="dark" class="btn-txt" >Center</h6>
</div>

 

<div class="mnb"  id="Profile" [hidden]="isHidden[1]" *ngIf="isRegualrEmp!='UNEMP'">
    <button ion-button  color="dark"  class="ico-fa-btn1"  (click)="openProfile()">
        <fa-icon name="address-card"  class="aw-ico1"></fa-icon>
    </button>
    <h6 ion-text color="dark" class="btn-txt" id="ProfileTxt">Profile  </h6>
    <h6 ion-text color="dark" class="btn-txt" >&nbsp;</h6>
    
</div>

<div class="mnb"   id="Leaves" [hidden]="isHidden[2]" *ngIf="isRegualrEmp!='UNEMP'"> 
    <button ion-button  color="dark"   class="ico-fa-btn1 " (click)="goPage('ListPag')">
        <span class="aw-ico2">
        <fa-icon name="calendar"  class="aw-ico1"></fa-icon>
        </span>
    </button>
    <h6 ion-text color="dark" class="btn-txt " >Leaves</h6>
    <h6 ion-text color="dark" class="btn-txt" >&nbsp;</h6>
 
</div>



<div class="mnb"  id="Payroll" [hidden]="isHidden[3]" *ngIf="isRegualrEmp!='UNEMP'">
        <button ion-button color="dark"    class="ico-fa-btn1" (click)="openPayroll()">
            <fa-icon name="money"  class="aw-ico1"></fa-icon>
        </button>
    
        <h6 ion-text color="dark" class="btn-txt" >Payroll  </h6>
        <h6 ion-text color="dark" class="btn-txt" >&nbsp;</h6>
    </div>
<div class="mnb"  id="Letters" [hidden]="isHidden[4]" *ngIf="isRegualrEmp!='UNEMP'">
    <button ion-button  color="dark"   class="ico-fa-btn1"    (click)="openHRrequest()"   >
        <fa-icon name="file-text-o"  class="aw-ico1"></fa-icon>
    </button>
    <h6 ion-text color="dark" class="btn-txt"  >HR    </h6>
    <h6 ion-text color="dark" class="btn-txt" >Requests</h6>
</div>
<div class="mnb"  id="Expense" [hidden]="isHidden[5]" *ngIf="isRegualrEmp!='UNEMP'">
    <button ion-button  color="dark"  disabled="true" class="ico-fa-btn1">
        <fa-icon name="google-wallet"  class="aw-ico1"></fa-icon>
    </button>
   
    <h6 ion-text color="dark" class="btn-txt" >Expense  </h6>
    <h6 ion-text color="dark" class="btn-txt" >&nbsp;</h6>
</div> 

<div class="mnb"  id="DashBoard" [hidden]="isHidden[6]" *ngIf="isExecutive=='Y'" >
    <button ion-button  color="dark"  class="ico-fa-btn1" (click)="openDashBoard()">
        <fa-icon name="pie-chart"  class="aw-ico1"></fa-icon>
    </button>
   
    <h6 ion-text color="dark" class="btn-txt" >Dashboards  </h6>
    <h6 ion-text color="dark" class="btn-txt" >&nbsp;</h6>
</div> 

<div class="mnb"  id="Scheduler" [hidden]="isHidden[7]" *ngIf="isAA!=0">
    <button ion-button  color="dark"  class="ico-fa-btn1"  (click)="goPublicSpace()">
        <fa-icon name="television"  class="aw-ico1"></fa-icon>
    </button>
   
    <h6 ion-text color="dark" class="btn-txt" >Al Arabiya  </h6>
    <h6 ion-text color="dark" class="btn-txt" >Scheduler </h6>
</div> 
 
<!-- keep this at last always -->
<div class="mnb"  id="thanksCard" [hidden]="true">
        <button ion-button  color="dark"  class="ico-fa-btn1"  (click)="openThanks()">
            <fa-icon name="handshake-o"  class="aw-ico1"></fa-icon>
        </button>
       
        <h6 ion-text color="dark" class="btn-txt" >Thank </h6>
        <h6 ion-text color="dark" class="btn-txt" >You</h6>
    </div> 
   
<!-- <div #frame style="width:100%;height:100%;overflow:scroll !important;-webkit-overflow-scrolling:touch !important">
        <iframe src={{adURLx}}  ></iframe>
      </div> -->





</ion-content>

