@charset "UTF-8";

/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";

@font-face {
  font-family: 'FontAwesome';
  src: url('../../font-awesome-4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../../font-awesome-4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../../font-awesome-4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../../font-awesome-4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../../font-awesome-4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../../font-awesome-4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*FA Icons Start*/
.fa {
  /*display: inline-block;*/
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#0572CE !important;
}

.fa:hover{
    color :#71ceef !important;
}

.fa-icon,.fa-icon:hover{
  font-family: FontAwesome !important; 
  font-size: 24px !important; 
  background-color: transparent !important; 
  background-image: none !important; 
  border:none !important ;
  text-decoration: none !important ;
}

af|commandMenuItem.fa::menu-item-text{
    cursor: pointer;
}


.fa-save:before {
  content: "\f0c7";
}

.fa-edit:before{
    content: "\f044";
}

.fa-delete:before {
  content: "\f014";
}

.fa-create:before {
  content: "\f055";
}

.fa-return:before {
  content: "\f0e2";
}

.fa-arrow-up:before {
  content: "\f062";
}

.fa-arrow-down:before {
  content: "\f063";
}

.fa-dish:before {
  content: "\f26c";
}

.fa-refresh:before {
  content: "\f021";
}

.fa-home:before {
  content: "\f015";
}

.fa-comments:before {
  content: "\f086";
}

.fa-bar-chart:before {
  content: "\f080";
}

.fa-flag:before {
  content: "\f024";
}

.fa-shopping-cart:before {
  content: "\f07a";
}

.fa-globe:before {
  content: "\f0ac";
}

.fa-area-chart:before {
  content: "\f1fe";
}

.fa-user:before {
  content: "\f007";
}

.fa-bell:before {
  content: "\f0f3";
}

.fa-assignment:before {
  content: "\f0eb";
}

.fa-map:before {
  content: "\f279";
}

.fa-trash:before {
  content: "\f1f8";
}

.fa-wrench:before {
  content: "\f0ad";
}

.fa-question-circle-o:before {
  content: "\f29c";
}

.fa-sign-out:before {
  content: "\f08b";
}

.fa-sort-amount-desc:before {
  content: "\f161";
}

.fa-times-rectangle-o:before,
.fa-window-close-o:before {
  content: "\f2d4";
}

.fa-sliders:before {
  content: "\f1de";
}

.fa-exchange:before {
  content: "\f0ec";
}

/*FA Icons End*/


.HomeDashBoardBox1{
    background-color: #3598dc;
    text-shadow: none;
    color: #337ab7;
    overflow: hidden;
}

.HomeDashBoardBox2{
    background-color: #e7505a;
    text-shadow: none;
    color: #337ab7;
    overflow: hidden;
}

.HomeDashBoardBox3{
    background-color: #32c5d2;
    text-shadow: none;
    color: #337ab7;
    overflow: hidden;
}

.HomeDashBoardBox4{
    background-color: #8E44AD;
    text-shadow: none;
    color: #337ab7;
    overflow: hidden;
}

.DashboardVisaual{
   padding-top: 35px;
   margin-bottom: 40px; 
   padding-left: 15px;
   margin-bottom: 15px;
}

.DashboardVisaual > i {
    margin-left: -40px;
    font-size: 110px;
    line-height: 110px;
    color: #FFF !important;
    opacity: .1;
}

.HomeDashBoardText{
    color: white;
    text-align: right;
    font-size: 22px !important;
    letter-spacing: 0;
    font-weight: 250;
}


/*GLOBALS*/
af|panelBox::header-element {
font-size: 16px;
font-weight: bold;
}
/*END Globals*/
/*Start Template*/
.logoStyleClass {
}

.TemplateFooter {
    height: 50px;
    line-height: 40px;
    background-color: #3C3C3C;
    color: #999;
    font-size: 13px;
    position: relative;
}

.TemplateFooterLink {
    color: #999;
}

.TemplateFooterLink span {
    text-decoration: none !important;
    color: #999;
    text-decoration: none;
    line-height: 40px;
    outline: none;
}

.ApplicationNameClass {
    display: block;
    color: #6E276B;
    font-size: 18px;
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: baseline;
    text-decoration: none;
    cursor: default;
}

.MBCBrandingBar {
    background-color: #F5F5F5;
    color: #454545;
    border-bottom: 1px solid #FFFFFF;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
}

.MBCBrandingLogoTitleContainer {
    top: 15px;
    position: absolute;
}

.MBCTemplateIcons {
    background-color: #6E276B ;
    border-radius: 4px;
}

.MBCTemplateMenuBar {
    font-size: 12px;font-weight: bold; color: #6E276B;
}
/*END Template*/

/*START GENERAL*/
.NotificationCount{
   position:absolute;
   margin-left: -13px;
   z-index: 100;
   font-size:11px;
   background:#d80000;
   color:white;
   width:18px;
   height:18px;
   text-align:center;
   line-height:17px;
   border-radius:50%;
   box-shadow:0 0 1px #333;
}
.ContentContainerWorkaround {
    text-align: left;
}

.WrkGrpImageDisplay{
  width:300px;
  height:240px;
  border:6px solid #FFF;
  box-shadow:0 0 2px rgba(0,0,0,0.4);
  border-radius:5%;
  margin:4px;  
}

.WrkGrpImage{
  width:140px;
  height:140px;
  border:6px solid #FFF;
  box-shadow:0 0 2px rgba(0,0,0,0.4);
  border-radius:5%;
  margin:4px;  
}
.WBPersonImage {
  width:140px;
  height:140px;
  border:6px solid #FFF;
  box-shadow:0 0 2px rgba(0,0,0,0.4);
  border-radius:50%;
  margin:4px;
}

.WBPersonImage70 {
  width:70px;
  height:70px;
  border:6px solid #FFF;
  box-shadow:0 0 2px rgba(0,0,0,0.4);
  border-radius:50%;
  margin:4px;
}
.employeeName {
    color: #333;
    font-size: 18px;
    font-weight: bold;
}

/*END GENERAL*/

/*Start Index Page*/
af|button:leading.AFAppNavbarButton af|button::image {
    padding: 0px 0px 4px 0px;
}

af|button:selected.AFAppNavbarButton {
    background-color: #6E276B !important;
}
/*END Index Page*/
/*Start Login Page*/
.login_form_container input[type='text'], .login_form_container input[type='password'] {
    height: 30px;
    font-size: 11px !important;
    font-weight: bold !important;
    color: #888 !important;
    padding-left: 8px;
}

.signin_button {
    background: #6E276B;
    border-radius: 4px;
    border: 1px solid #153046;
    width: 80px;
    display: block;
    height: 24px;
}

.signin_button span {
    color: #FFF;
    text-decoration: none !important;
    padding: 9px 0px 0px 18px;
    line-height: 1.9;
    font-weight: bold;
}

.signin_button:hover {
    -webkit-animation-name: hvr-back-pulse;
    animation-name: hvr-back-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-color: #a87da6;
    border: 1px solid #1B81B1;
}
/*End Login Page*/



/*START PROFILE*/
/* Image Styles */
.WBImage {
    width: 80px;
    height: 80px;
}
.WBImageBorder {
    border-radius: 40px;
    border: 1px solid -tr-property-ref(".AFPanelBorderColor:alias", "color");
}

.WBImage50 {
    width: 50px;
    height: 50px;
}

/*Ultimately UX can provide functional icons that are 24x24 but since the current icons are
32x32 we can scale them with these WBFuncIcon styleclasses*/
.WBFuncIcon af|link::image {
    height: 24px;
    width: 24px;
}

.WBFuncIcon af|link::text {
    font-size:16px;
}

.WBFuncIconNoLink af|link::text {
    color: -tr-property-ref(".AFTextColor:alias","color");
}

.WBFuncIcon af|commandNavigationItem::icon-style {
    height: 24px; 
    width: 24px; 
}
.WBFuncIcon af|navigationPane-bar::icon-style {
    height: 24px; 
    width: 24px; 
}

.WBHVNode {
  background-color: white;
  border-color: transparent;
}

.WBDetailNameText18{
    font-weight: bold;
    font-size: 18px;
}

.WBDetailNameText16{
    font-size: 16px;
}
/*END PROFILE*/

/*START HOME*/
/* Style class for laying out child components in columns and rows like we do on the grid view
of searchPeople and searchOrganizations*/
.WBDisplayBlock {
    display: inline-block;
}
/*The margin is needed if using a panelgrouplayout iterated with the displayblock.  List items
 have padding, but it is a little to much.  Depending on which component is used depends on which style
 class is needed.  */
.WBDisplayBlockMargin {
    margin: 5px 5px 5px 5px;
}

.WBToggleBar af|navigationPane-bar::separator-icon-style{
    border-left: 0px solid #D6DFE6; 
    margin-left: 5px; 
    margin-right: 5px; 
}


af|listItem.WBDisplayBlockPadding  {
    padding: 5px;
}
af|listItem.WBDisplayBlock {
    background-color: transparent; 
    border-bottom: 0px solid transparent; 
}

af|listItem.WBListPadding  {
    padding: 5px 10px 0px 10px;
}

/*The WBDisplayBlockCenter allows us to not only flow the items in the list view, but to center them.
The Undo is needed so that the child of the layouts don't have thier text center aligned so we are basically
resetting it back*/
af|listView.WBDisplayBlockCenter {
text-align: center;
}
WBDisplayBlockCenterUndo {
text-align: left;
}

.WBPageTitleText {
    font-weight: bold;
    font-size: 24px;
}

.WBDashboardCardSize{
  height: 206px; 
  width: 201px;
  vertical-align: top;
  position: relative;
  padding: 14px 14px;
  border: 1px solid #E7E7E9;
}

.WBDashboardCard {
  background-color: #ffffff;
}

.WBDashboardCard af|panelBox::center{
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
}

.WBDashboardCard af|panelBox::content{
  padding: 0px;
}

.WBDashboardCard af|panelBox{
border-color: #e7e7e9;
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
}


.WBDashboardCardTitle{
font-size: 16px;
font-weight: bold;
display: inline-block;
padding-bottom: 14px;
color: #000000; 
}



.WBDashboardMetricLabel{
font-size: 16px;
color: #878c90;
font-weight: bold;
}

.WBDashboardMetricToDate{
font-size: 16px;
color: white;
font-weight: bold;
background-color:#6E276B;; 
line-height:30px;
}

.WBDashboardDescription{
font-size: 14px;
color: #000000;
opacity: .85;
}

.WBDashboardTimeFrame{
color: #afbac6;
font-weight: bold;
font-size: 24px;
text-align: center;
position: absolute;
left: 0px;
right: 0px;
bottom: 14px;
}

.WBDashboardCardIcon{
  padding-top: 28px;
}

.WBDashboardCardBadge{
  background-color: #0572CE;
  color: white;
  border: 4px solid white;
  border-radius: 26px;
  font-size: 22px;
  font-weight: bold;
  margin-left: 65px;
  max-width: 30px;
  padding-top: 8px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 8px;
}
.WBDashboardLabel{
font-size: 14px;
color: #000000;
opacity: .85;
display: inline-block;
}

.WBDashboardDivider {
  padding-top: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid #D5DFE5;
  height: 0;
  line-height: 0;
  display: block;
}

.verticalDivider{
    position:absolute;
    left:50%;
    top:10%;
    bottom:10%;
    border-left:1px solid white;
    border-bottom: 1px solid #D5DFE5;
}

.WBDashboardFooterSmall {
  color: #767676;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  bottom: 14px;
  left: 0px;
  right: 0px;
  text-align: center;
}

.WBLandscapeContentDimensions {
    width:950px;
    height:370px;
}

/*END HOME*/


.DMStatText{
    color:Gray; 
    font-size:14px; 
    font-weight:bold;
}
.DMStatNumberFormat{
    color:#309FDB; 
    font-size:40px; 
}


.DashboardTileTitleText{
    color: #000412;
    font-size: 14px;
    font-weight: bold;
}

.TransImage{
    height: 250px;
    width: 100%;
}

.TransText{
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    font-weight: bold;
}

.TransContOpacity{
    width: 170px;
    position: absolute;
    right: 0px;
    top: 0;
    min-height: 250px;
    background: rgba(142,68,173,.8) !important;
}

.TransBtnContainer{
    position: absolute;
    right: 0;
    overflow: hidden;
}

af|button.TransBtn{
    background-image: none !important; 
    border:none !important ;
    width: 90px;
    outline: 0 !important;
    box-shadow: none !important;
    color: #fff;
    background-color: #ed6b75 !important; 
    font-weight: 400;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    margin-right: -10px;
    font-size: 14px;
    border-radius: 6px;
}

af|button.TransBtn:hover{
    background-image: none !important; 
    border:none !important ;
    width: 90px;
    outline: 0 !important;
    box-shadow: none !important;
    background-color: #e73d4a !important; 
     color: #fff;
    font-weight: 400;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    margin-right: -10px;
    font-size: 14px;
    border-radius: 6px;    
}

#_leave_qtrlyHours_bar .k-tooltip, .k-chart-tooltip
{
     color: black !important;
     background-color: white !important;
}
/* Added by Heba :Classes for table at page public space*/
 .PublicSpaceTableHeader
 {   
height:35px;
color:#ffffff; 
text-align: center;
font-size: 12px;
 font: normal normal normal 14px/1 Arial; 
font-weight: bold;
background-image: none;
background-color: #000000;
vertical-align: middle;
border-left: 1px solid #BF691E;
}
.PublicSpaceTableHeaderColumnHeight
{

height:100px;
background-color: #e2e2e2;

}
/* Added by Heba :Classes for Indicators at the top of page public space /Tas Integration*/
   .demo-panel-customizationschanges {
      width:  160px;
      height: 38px;
     /* color:white ;*/
      font-weight:bold;
     background-color:#6b2868;
    }
     .demo-panel-customizationsnochanges {
      width:  160px;
      height: 38px;
     /* color:white ;*/
      font-weight:bold;
    
    }
 .demo-panel-customizationsnew {
   
   width:  70px;
      height: 38px;
   /*   color:white ;*/
      font-weight:bold;

   

    }
    /* Added By Heba 13-July-2017* for tooltip in Integrate Tas Page */

af|noteWindow {
    }


/*af|calendar::month-grid-cell-header-day-link {color: Fuchsia;}*/
af|calendar::month-grid-cell-header-misc

{

background-color: #6b2868;
color:White;
 font-family: Verdana;
  font-size:small;

}
.TableNoHeader af|column::column-header-cell{display: none;}


.AFCalendarTodayBackgroundColor:alias {
  color:#c9ddf2;
  /*#76baf2;*/
/*#0572ce;*/
}
af|statusIndicator::connected-icon, af|statusIndicator::disconnected-icon, af|statusIndicator::idle-icon {
   content: url("../../images/idle.png");
   width:48px;


 }
  
 af|statusIndicator::connecting-icon, af|statusIndicator::processing-icon, af|statusIndicator::reconnecting-icon {
   content: url("../../images/busy.png");
   width:48px;
   
 }
 af|dialog:inactive af|dialog::main {
  opacity:1;
}










